<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <style>
        .datepicker {
            z-index: 9999999 !important
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>
            <a href="/bjpk10">
                <%= title %>
            </a>
        </h1>
        <!-- <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <input id="datetimepicker" type="text" class="form-control" style="width:120px;" value="<%= date %>" data-date-format="yyyy-mm-dd"
                    />
                    <span style="padding-left:5px;" id="show"></span>
                </div>
            </div>
        </div> -->

        <table id="table" data-toggle="table" data-show-export="true" data-height="850" data-toolbar="#toolbar" data-url="/api/getdata?date=<%= date %>&type=bjpk10">
            <thead>
                <tr>
                    <th data-field="_id">期号</th>
                    <th data-field="num1" data-formatter="resultFormatter">01</th>
                    <th data-field="num2" data-formatter="resultFormatter">02</th>
                    <th data-field="num3" data-formatter="resultFormatter">03</th>
                    <th data-field="num4" data-formatter="resultFormatter">04</th>
                    <th data-field="num5" data-formatter="resultFormatter">05</th>
                    <th data-field="num6" data-formatter="resultFormatter">06</th>
                    <th data-field="num7" data-formatter="resultFormatter">07</th>
                    <th data-field="num8" data-formatter="resultFormatter">08</th>
                    <th data-field="num9" data-formatter="resultFormatter">09</th>
                    <th data-field="num10" data-formatter="resultFormatter">10</th>
<th data-field="num10" data-formatter="resultFormatter1">冠亚和</th>
<th data-field="num10" data-formatter="resultFormatter2">首尾和</th>
                </tr>
            </thead>
        </table>
    </div>

    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>

    <script src="//cdn.bootcss.com/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="/javascripts/tableExport.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/data.js"></script>
    <script type="text/javascript">
        var date = "<%= date %>";
        var type = "bjpk10";

        function resultFormatter(value) {
            if (value < 10) {
                return '0' + value;
            }
            else {
                return value;
            }
        }      
function resultFormatter1(value,row,index) {
           value = row.num1+row.num2;
		return resultFormatter(value);
        }      
function resultFormatter2(value,row,index) {
           value = row.num1+row.num10;
	   return resultFormatter(value);
        }      

    </script>
</body>

</html>
