<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <style>
        .datepicker {
            z-index: 9999999 !important
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>
            <a href="/cqssc">
                <%= title %>
            </a>
        </h1>
        <!-- <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <input id="datetimepicker" type="text" class="form-control" style="width:120px;" value="<%= date %>" data-date-format="yyyy-mm-dd"
                    />
                    <span style="padding-left:5px;" id="show"></span>
                </div>
            </div>
        </div> -->

        <table id="table" data-toggle="table" data-show-export="true" data-toolbar="#toolbar" data-url="/api/getdata?date=<%= date %>&type=cqssc">
            <thead>
                <tr>
                    <th data-field="_id" rowspan="2" data-valign="middle" data-halign="center" data-align="center">期号</th>
                    <th data-field="num1" rowspan="2" data-valign="middle" data-halign="center" data-align="center">万</th>
                    <th data-field="num2" rowspan="2" data-valign="middle" data-halign="center" data-align="center">千</th>
                    <th data-field="num3" rowspan="2" data-valign="middle" data-halign="center" data-align="center">百</th>
                    <th data-field="num4" rowspan="2" data-valign="middle" data-halign="center" data-align="center">十</th>
                    <th data-field="num5" rowspan="2" data-valign="middle" data-halign="center" data-align="center">个</th>
                    <th colspan="2" data-valign="middle" data-halign="center" data-align="center">前三</th>
                    <th colspan="2" data-valign="middle" data-halign="center" data-align="center">中三</th>
                    <th colspan="2" data-valign="middle" data-halign="center" data-align="center">后三</th>
                </tr>
                <tr>
                    <th data-field="num5" data-formatter="resultFormatter1" data-halign="center" data-align="center">形态</th>
                    <th data-field="xingtai_forecast1" data-halign="center" data-align="center">形态预测</th>
                    <!-- <th data-field="num5" data-formatter="resultFormatter2" data-halign="center" data-align="center">奇偶</th>
                    <th data-field="num5" data-formatter="resultFormatter3" data-halign="center" data-align="center">大小</th> -->
                    <th data-field="num5" data-formatter="resultFormatter4" data-halign="center" data-align="center">形态</th>
                    <th data-field="xingtai_forecast2" data-halign="center" data-align="center">形态预测</th>
                    <!-- <th data-field="num5" data-formatter="resultFormatter5" data-halign="center" data-align="center">奇偶</th>
                    <th data-field="num5" data-formatter="resultFormatter6" data-halign="center" data-align="center">大小</th> -->
                    <th data-field="num5" data-formatter="resultFormatter7" data-halign="center" data-align="center">形态</th>
                    <th data-field="xingtai_forecast3" data-halign="center" data-align="center">形态预测</th>
                    <!-- <th data-field="num5" data-formatter="resultFormatter8" data-halign="center" data-align="center">奇偶</th>
                    <th data-field="num5" data-formatter="resultFormatter9" data-halign="center" data-align="center">大小</th> -->
                </tr>
            </thead>
        </table>
    </div>

    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>

    <script src="//cdn.bootcss.com/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="/javascripts/tableExport.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/data.js"></script>
    <script type="text/javascript">
        var date = "<%= date %>";
        var type = "cqssc";

        var ji = [1, 3, 5, 7, 9];
        function resultFormatter1(value, row, index) {
            if (row.num1 == row.num2 && row.num2 == row.num3) return '<span class="label ' + 'label-warning' + '">' + '豹子' + '</span>';
            if (row.num1 != row.num2 && row.num1 != row.num3 && row.num2 != row.num3) return '<span class="label ' + 'label-success' + '">' + '组六' + '</span>';

            return '<span class="label ' + 'label-danger' + '">' + '组三' + '</span>';
        }

        function resultFormatter2(value, row, index) {
            var result = '';
            for (i = 1; i < 4; i++) {
                if (ji.indexOf(row['num' + i]) > -1) result += '奇';
                else result += '偶';
            }

            if (result == '奇奇奇' || result == '偶偶偶')
                return '<span class="label ' + 'label-danger' + '">' + result + '</span>';
            else
                return '<span class="label ' + 'label-success' + '">' + result + '</span>';
        }

        function resultFormatter3(value, row, index) {
            var result = '';
            for (i = 1; i < 4; i++) {
                if (row['num' + i] < 5) result += '小';
                else result += '大';
            }

            if (result == '小小小' || result == '大大大')
                return '<span class="label ' + 'label-danger' + '">' + result + '</span>';
            else
                return '<span class="label ' + 'label-success' + '">' + result + '</span>';
        }

        function resultFormatter4(value, row, index) {
            if (row.num2 == row.num3 && row.num3 == row.num4) return '<span class="label ' + 'label-warning' + '">' + '豹子' + '</span>';
            if (row.num2 != row.num3 && row.num2 != row.num4 && row.num3 != row.num4) return '<span class="label ' + 'label-success' + '">' + '组六' + '</span>';

            return '<span class="label ' + 'label-danger' + '">' + '组三' + '</span>';
        }

        function resultFormatter5(value, row, index) {
            var result = '';
            for (i = 2; i < 5; i++) {
                if (ji.indexOf(row['num' + i]) > -1) result += '奇';
                else result += '偶';
            }

            if (result == '奇奇奇' || result == '偶偶偶')
                return '<span class="label ' + 'label-danger' + '">' + result + '</span>';
            else
                return '<span class="label ' + 'label-success' + '">' + result + '</span>';
        }

        function resultFormatter6(value, row, index) {
            var result = '';
            for (i = 2; i < 5; i++) {
                if (row['num' + i] < 5) result += '小';
                else result += '大';
            }

            if (result == '小小小' || result == '大大大')
                return '<span class="label ' + 'label-danger' + '">' + result + '</span>';
            else
                return '<span class="label ' + 'label-success' + '">' + result + '</span>';
        }

        function resultFormatter7(value, row, index) {
            if (row.num3 == row.num4 && row.num4 == row.num5) return '<span class="label ' + 'label-warning' + '">' + '豹子' + '</span>';
            if (row.num3 != row.num4 && row.num4 != row.num5 && row.num3 != row.num5) return '<span class="label ' + 'label-success' + '">' + '组六' + '</span>';

            return '<span class="label ' + 'label-danger' + '">' + '组三' + '</span>';
        }

        function resultFormatter8(value, row, index) {
            var result = '';
            for (i = 3; i < 6; i++) {
                if (ji.indexOf(row['num' + i]) > -1) result += '奇';
                else result += '偶';
            }

            if (result == '奇奇奇' || result == '偶偶偶')
                return '<span class="label ' + 'label-danger' + '">' + result + '</span>';
            else
                return '<span class="label ' + 'label-success' + '">' + result + '</span>';
        }

        function resultFormatter9(value, row, index) {
            var result = '';
            for (i = 3; i < 6; i++) {
                if (row['num' + i] < 5) result += '小';
                else result += '大';
            }

            if (result == '小小小' || result == '大大大')
                return '<span class="label ' + 'label-danger' + '">' + result + '</span>';
            else
                return '<span class="label ' + 'label-success' + '">' + result + '</span>';
        }     
    </script>
</body>

</html>