<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <style>
        .datepicker {
            z-index: 9999999 !important
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>
            <a href="/pk10/pk102">
                <%= title %>
            </a>
        </h1>
        <div id="toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <input id="datetimepicker" type="text" class="form-control" style="width:120px;" value="<%= date %>" data-date-format="yyyy-mm-dd"
                    />
                    <span style="padding-left:5px;" id="show"></span>
                </div>
            </div>
        </div>

        <table id="table" data-toggle="table" data-show-export="true" data-height="850" data-toolbar="#toolbar" data-url="/api/pk101?date=<%= date %>&type=1">
            <thead>
                <tr>
                    <th data-field="periods">P</th>
                    <th data-field="time">T</th>
                    <th data-field="numbers" data-formatter="resultFormatter4">N</th>
                    <th data-field="Other6">I</th>
                    <th data-field="Other6N">I</th>
                    <th data-field="Locationo6">IT</th> 
                    <!-- <th data-field="Other1">O1</th> -->
                    <!-- <th data-field="Other0" data-formatter="resultFormatter3">ON</th> -->
                    <!-- <th data-field="numbers" data-formatter="resultFormatter1">S(1/10)</th>
                    <th data-field="numbers" data-formatter="resultFormatter2">S(1/2/3)</th> -->
                </tr>
            </thead>
        </table>
    </div>

    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>

    <script src="//cdn.bootcss.com/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="/javascripts/tableExport.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/pk10.js"></script>
    <script type="text/javascript">
        var date = "<%= date %>";
        var type = "1";
        function resultFormatter1(value) {
            var val = value[0] + value[9];

            var label = val < 16 && val > 6 ? 'label-success' : 'label-danger';

            return '<span class="label ' + label + '">' + val + '</span>';
        }

        function resultFormatter2(value) {
            var val = value[0] + value[1] + value[2];

            var label = val < 23 && val > 10 ? 'label-success' : 'label-danger';

            return '<span class="label ' + label + '">' + val + '</span>';
        }

        // function resultFormatter3(value) {
        //     return value.;
        // }

        function resultFormatter4(value) {
           return value.join(",&nbsp;");
        }
    </script>
</body>

</html>